<div id="login-signup" class="row valign-wrapper">

  <div class="col s6">

    <h1 class="h1-uppercase grey-text text-darken-3 col s12 left-align">Update your profile,&ensp;<%= currentUser.name %>?</h1>

    <div class="col s12 h2">
      <form action="/profile/edit" class="edit-user">
        <div class="form-group">
          <label class="h2" for="authEmail">Email</label>
          <input class="h2" id="authEmail" class="form-control" type="email" name="email" value='<%= currentUser.email %>'>
        </div>

        <div class="form-group">
          <label class="h2" for="authName">Name</label>
          <input class="h2" id="authName" class="form-control" type="text" name="name" value='<%= currentUser.name %>'>
        </div>

        <div class="form-group">
          <label class="h2" for="authPassword">Password</label>
          <input class="h2" id="authPassword" class="form-control" type="password" name="password">
        </div>

        <input class="btn btn-favorite" type="submit">
      </form>
    </div>


  </div>

  <div id="responsive-video" class="login-signup-video left-align col s6">
    <iframe class="trail-video-player" width="1440" height="810" src="https://www.youtube.com/embed/uMZOXuNGZ34?rel=0&amp;showinfo=0&amp;start=23&mute=1&autoplay=1"
    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>
  </div>


</div>

<script src="/js/app.js"></script>
