<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>PNW Overland</title>
    <!-- Font CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen,projection">
  </head>

  <% include partials/alerts %>
  <% include partials/nav %>

  <body>

      <%- JSON.stringify(currentUser) %>
      <%- body %>


    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


    </body>
</html>
