

#header {
  background-color: grey;
  height: 600px;
}

#trails-header {
  background-color: grey;
}

#map {
  height: 360px;
  padding: 0;
  margin: 0;
}

#video {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #CCC;
  font-size: 40px;
}
