html {
    font-family: 'News Cycle', sans-serif;
}


#header {
  background-color: grey;
  height: 600px;
}

#trails-header {
  background-color: grey;
}

#map {
  height: 360px;
  padding: 0;
  margin: 0;
}

#video {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 28px;
}
