<main>
  <div id="trails-header" class="valign-wrapper">
    <div class="row">
      <h1 class="header col s12 center white-text">All Overland Trails</h1>
      <h5 class="header col s12 center white-text">Your interactive guide to backcountry road adventures in the Pacific Northwest</h5>
    <div>


<div id="map">
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeqZ3s_mO91ezV4tNt9zqBLnsDlwVS8Ts&callback=initMap">
</script>
<script src="/js/script.js"></script>


</main>
