<main>

  <div class='row'>
    <div class="col s12">
      <h1>PNW Overland Trails<h1>
    </div>
  </div>

  <div class='row'>
    <div class="col s12">
        <% trails.forEach(function(trail) { %>
          <div class="well">
            <%= trail.title %>
          </div>
        <% }); %>
    </div>
  </div>



  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeqZ3s_mO91ezV4tNt9zqBLnsDlwVS8Ts&callback=initMap">
  </script>
  <script src="/js/script.js"></script>


</main>
