<!-- // show individual trail map // -->
<main>

  <div class='row'>
    <div id="video" class="col s6">
      <iframe id="ytplayer" type="text/html" width="650" height="366"
      src="https://www.youtube.com/embed/yZs5xmGhXcU?rel=0&amp;showinfo=0&amp;start=145&mute=1&autoplay=1"
      frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="videoheader" class="col s6 left-align">
      <h1>Boston Bar to Harrison Hot Springs</h1>
    </div>
    <div id="map" class="col s12"></div>
  </div>


  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeqZ3s_mO91ezV4tNt9zqBLnsDlwVS8Ts&callback=initMap">
  </script>
  <script src="/js/script.js"></script>


</main>
